body {background-color:#FFFFFF;font-size:12pt}
a {color:#000099; text-decoration:none}
span.heading {color:#3333CC;font-size:x-large;font-weight:bold}
span.cont {color:#3333CC;font-size:large;font-weight:bold}
